DEBUG=veramo*
PORT=3330
BASE_URL="http://localhost"
API_NAME="Identi_Node"
API_VERSION="0.1.0"
AGENT_API_KEY="test123"
AGENT_PATH=":3330/agent"
SECRET_KEY="afea5b885568e858a109f161459f246ae15d08d34887d7500519bd768323dc26"

CELO_RPC_URL="https://alfajores-forno.celo-testnet.org"
CELO_DID_REGISTRY_ADDRESS=""

DATABASE_URL="postgresql://user:test@localhost:5432/node-db"
LACCHAIN_NODE_ADDRESS=""
LACCHAIN_DID_REGISTRY_ADDRESS="0xAB00e74C1b0A2313f552E869E6d55B5CdA31aFfe"
LACCHAIN_RPC_URL=""
LACCHAIN_EXPIRATION=1956394529
LACCHAIN_PUBLIC_KEY_DIRECTORY_BASE_PATH=""
