.ril__toolbar {
  height: auto !important;
  padding: 16px 24px;
  background-color: transparent !important;
}

.ril__toolbarLeftSide { display: none; }

.ril__toolbarRightSide {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  height: auto !important;
  padding: 0;

  li {
    display: flex;
    align-items: center;
  }

  li:first-of-type {
    flex-grow: 1;
  }

  li:not(:first-of-type) {
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 8px;
    border-radius: 4px;
  }
}

.ril__toolbarRightSide button {
  width: 100%;
  height: 100%;

  &.ril-rotate-right,
  &.ril__zoomInButton,
  &.ril__zoomOutButton,
  &.ril__closeButton {
    background-color: rgb(22 28 36 / 80%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
  }
}
